asgiref
attrs
autobahn
Automat
cffi
channels
constantly
cryptography
daphne
Django
hyperlink
idna
incremental
pyasn1
pyasn1-modules
pycparser
pyOpenSSL
pytz
service-identity
six
sqlparse
Twisted
txaio
typing-extensions
zope.interface
anyio
asgiref
certifi
charset-normalizer
Django
exceptiongroup
h11
httpcore
httpx
idna
ollama
requests
sniffio
sqlparse
typing_extensions
urllib3
